@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;900&display=swap');

/*font-family: 'Inconsolata', monospace;*/



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Rajdhani, sans-serif;
}

html {
    background-color: black;
    height: 100%;
    padding: 50px;
}

body {
    overflow: hidden;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60vh;
    animation-name: burnin;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes burnin {
    0% {opacity: 1;}
    94% { opacity: 1;}
    95% {opacity: 0;}
    100% {opacity: 0;}
}


.dt-n {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.d {
    width: 22vw;
    height: 15vh;
    order: -1;
    margin-bottom: 80px;
}

.times {
    display: flex;
}

.date {
    font-size: 30px;
    letter-spacing: 4px;
    padding-bottom: 1px;
}

.clock {
    font-size: 90px;
    letter-spacing: 6px;
    font-weight: 600;
}

.ap {
    font-size: 40px;
    letter-spacing: 5px;
    margin-left: 15px;
    align-self: flex-end;
    margin-bottom: 20px;
}

#weather {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    padding: 10px;
    height: 40vh;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
}

.icon-now {
    height: 120px;
    margin-left: 40px;
}

.temp {
    font-size: 70px;
    width: 90px;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: 700;
}

.descrip {
    height: 50px;
    font-size: 30px;
    margin-top: -5%;
}

.time1 {
    font-size: 20px;
    margin-top: 20%;
    margin-left: 70%;
}

.forcast1 {
    font-size: 40px;
    margin-left: 70%;
    margin-top: 3%;
    font-weight: 700;
}

.icon1 {
    margin-top: -30%;
    margin-left: 30%;
}

.time2 {
    font-size: 20px;
    margin-top: 20%;
    margin-left: 70%;
}

.forcast2 {
    font-size: 40px;
    margin-left: 70%;
    margin-top: 3%;
    font-weight: 700;
}

.icon2 {
    margin-top: -30%;
    margin-left: 30%;
}

.time3 {
    font-size: 20px;
    margin-top: 20%;
    margin-left: 70%;
}

.forcast3 {
    font-size: 40px;
    margin-left: 70%;
    margin-top: 3%;
    font-weight: 700;
}

.icon3 {
    margin-top: -30%;
    margin-left: 30%;
}

.notes{
    display: flex;
    flex-direction: column;
    order: -1;
}

.title {
    font-size: 30px;
}

.note1, .note2, .note3, .note4, .note5 {
    font-size: 30px;
}

.stock {
    display: flex;
    margin-top: auto;
    order: -1;
    height: 5vh;
    width: 50vw;
    letter-spacing: 1px;
}

.stock1 {
    display: flex;
    flex-direction: column;
    width: 100px;
    line-height: 25px;
    justify-content: space-between;
}