@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

/*font-family: 'Inconsolata', monospace;*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: skyblue;
}

.strong {
    background-color: blue;
    color: white;
    font-size: 70px
}

.main {
    display: inline;
}

#buttonplace {
    position: absolute;
    top: 90%;
    right: 15%;
}

.d {
    position: absolute;
    width: 200px;
    height: 80px;
    top: 12%;
    right: 70%;
}

.clock {
    font-family: 'Inconsolata', monospace;
    font-size: 70px;
    position: absolute;
    top: 0%;
    right: 27%;
}

.ap {
    font-family: 'Inconsolata';
    font-size: 38px;
    position: absolute;
    top: 35%;
    right: 4%;
}

.date {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    position: absolute;
    top: 18%;
    right: 70%;

}
